<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://thymeleaf.org" xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"> -->
<!-- <head> -->
<!-- 	<title>Histórico</title> -->
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<!-- 	<meta charset="UTF-8"> -->
<!-- 	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
<!-- 	<link href="img/icon.png" rel="icon"> -->
<!-- 	<script type="text/javascript" src="js/jquery-3.4.1.min"></script> -->
<!-- 	<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
<!-- 	<link href="style/estilo.css" rel="stylesheet"> -->
<!-- </head> -->

<!-- <body> -->
<!-- 	<header> -->
<!-- 		<nav class="navbar navbar-light bg-light"> -->
<!-- 			<span class="navbar-brand mb-0 h1">Histórico de Fichas</span> <a href="/" class="btn btn-light">Voltar</a> -->
<!-- 		</nav> -->
<!-- 	</header> -->

<!-- 	<section> -->
<!-- 		<table class="table"> -->
<!-- 			<thead> -->
<!-- 				<tr> -->
<!-- 					<th scope="col">Especialidade</th> -->
<!-- 					<th scope="col">Data</th> -->
<!-- 					<th scope="col"></th> -->
<!-- 			</thead> -->
<!-- 			<tbody> -->
<!-- 				<tr> -->
<!-- 					<td>Cardiologista</td> -->
<!-- 					<td>08/12/2020</td> -->
<!-- 					<td><button type="submit" class="btn btn-danger">Cancelar</button></td> -->
<!-- 				</tr> -->
<!-- 				<tr> -->
<!-- 					<td>Clínico Geral</td> -->
<!-- 					<td>12/12/2019</td> -->
<!-- 					<td><button type="submit" class="btn btn-secondary disabled">Cancelar</button></td> -->
<!-- 				</tr> -->
<!-- 			</tbody> -->
<!-- 		</table> -->
<!-- 	</section> -->

<!-- 	<footer> -->
<!-- 	</footer> -->
<!-- </body> -->
<!-- </html> -->