<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Mais Saúde</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="img/icon.png" rel="icon">
	<script type="text/javascript" src="js/jquery-3.4.1.min"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<link href="style/estilo.css" rel="stylesheet">
</head>

<body>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-danger">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/solicitar">Solicitar Ficha</a></li>
					<li class="nav-item"><a class="nav-link" href="/solicitacaoList">Solicitações</a></li>
					<li class="nav-item"><a class="nav-link" href="/listarPaciente">Pacientes Cadastrados</a></li>					
					<li class="nav-item"><a class="nav-link" href="/cadastrarUbs">Cadastrar UBS</a></li>
					<li class="nav-item"><a class="nav-link" href="/VerUbs">Ver UBS</a></li>	
					<li class="nav-item"><a class="nav-link" href="/Ubs">Editar UBS</a></li>					
					<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<section>
		<div class="text-center">
			<img src="img/icone.png" class="rounded" alt="...">
		</div>
		<p class="text-monospace text-center text-uppercase">Bem-vindo ao Mais Saúde!</p>
		<p class="text-center text-justify">Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte <br>
		em parceria com a Secrétaria Municipal de Saúde de Lajes. </p>
	</section>

	<footer>
	</footer>
	
</body>
</html>